* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #2948c7;
    --primary-dark: #14255f;
    --background: #F5F7FC;
    --card: #FFFFFF;
    --text: #17213d;
    --muted: #7B849D;
    --border: #E7EAF2;

    --blue: #E9EFFF;
    --green: #E8F8EF;
    --red: #ffe9ed;
    --purple: #F0EAFF;
    --orange: #FFF1DF;

}

body {
    font-family: "Inter", sans-serif;
    background: var(--background);
    color: var(--text);
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;

    width: 265px;
    height: 100vh;

    background: linear-gradient(
        180deg,
        #111e4b,
        #09163b
    );

    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px 14px;
    z-index: 10;
}

.logo {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 5px 12px 30px;
}

.logo-icon {
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #FFFFFF20;
    border-radius: 12px;
}

.logo strong {
    display: block;
    font-size: 18px;
}

.logo small {
    display: block;
    color: #b7c0de;
    margin-top: 3px;
    font-size: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu {
    border: 0;
    background: transparent;

    color: #C6cde3;
    padding: 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;

    gap: 14px;
    font-size: 14px;

    cursor: pointer;
    transition: .2s;
}

.menu:hover, 
.menu.active {
    background: #3154c7;
    color: white;
}

.menu svg {
    width: 20px;
}

.sidebar-bottom {
    margin-top: auto;
}

.quote {
    background: #FFFFFF12;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 25px;
}

.quote svg {
    margin-bottom: 12px;
}

.quote p {
    font-size: 12px;
    line-height: 1.5;
    color: #D6DCF0;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;

    border-top: 1px solid #FFFFFF20;

    padding: 18px 5px 0;
}

.user-profile span {
    display: block;
    font-size: 11px;
    color: #aeb7d3;
    margin-top: 3px;
}

.user-profile svg {
    margin-left: auto;
    width: 15px;
}

/*  MAIN */
.main {
    margin-left: 265px;
    min-height: 100vh;
}


/* TOPBAR */
.topbar {
    height: 70px;
    background: white;
    border-bottom: 1px solid var(--border);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
}

.search {
    width: 370px;
    display: flex;
    align-items: center;
    background: #F8F9FC;
    border: 1px solid var(--border);
    border-radius: 9px;
    padding: 9px 13px;
    color: var(--muted);
}

.search input,
.student-search input {
    border: 0;
    outline: 0;
    background: transparent;

    width: 100%;
    margin-left: 9px;
    font-family: inherit;
}

.top-actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-button {
    position: relative;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: #59627C;
}

.notification {
    position: absolute;

    top: -7px;
    right: -7px;

    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #EF4C58;
    color: white;
    font-size: 9px;

    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    border: 1px solid var(--border);
    background: white;
    border-radius: 8px;
    padding: 10px 14px;
    color: var(--text)
}

/* CONTENT */

.content{
    padding: 30px;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
}

.welcome h1 {
    font-size: 25px;
}

.welcome p {
    color: var(--muted);
    font-size: 13px;
    margin-top: 5px;
}

/* BUTTONS */

button {
    font-family: inherit;
}

.primary-button {
    border: 0;
    background: var(--primary);
    color: white;
    padding: 11px 16px;

    border-radius: 9px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: .2s;
}

.primary-button:hover {
    background: #203ba8;
    transform: translateY(-1px);
}

.primary-button.small {
    padding: 8px 12px;
    font-size: 12px;
}

outine-button {
    border: 1px solid #ccd3ef;
    background: white;

    color: var(--primary);
    border-radius: 8px
    
}

stats {
    display: grid
}